/* * {
    outline:2px solid red ;
} */

body {
    display: block;
    margin: 0px;
    font-family: 'Roboto', Arial;
}

/* Header Section */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 24px;
    font-weight: 900;
}

.header-right-links {
    display: flex;
    gap: 10px;
    margin-right: 24px;
    font-weight: 600;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

/* Introduction Section */

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: #1f2937;
    color: #f9faf8;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.introduction-left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    flex-basis: 500px;
    margin-right: 50px;
}

.introduction-title {
    font-size: 48px;
    font-weight: 900;
}

.introduction-content {
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}

.introduction-pic {
    width: 500px;
    height: auto;
    border-radius: 25px;
}

button {
    width: 100px;
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 900;
}

/* Some Random Information Section */

.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.random-information-title {
    font-size: 36px;
    font-weight: 900;
    margin: 20px;
}

.random-information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.info {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.random-information-pic {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.text {
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

/* Quote Section */

.quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e7eb;
    margin: 100px 0;
    padding: 50px 200px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
}

.quote-author {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}

/* Call To Action Section */
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #3882f6;
    margin: 100px 25%;
    padding: 25px;
    border-radius: 15px;
}

.call-to-action-left {
    text-align: left;
}

.call-to-action-title {
    font-size: 24px;
    color: #f9faf8;
}

.call-to-action-description {
    font-size: 18px;
    color: #f9faf8; 
}

.cta-button {
    border: 2px solid white;
}

/* Footer Section */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 100;
}

/* to use font sizing: 48px ; 36px ; 24px ; 18px */